#navcol-1 {
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
}

#subtitle {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  height: 32px;
  font-size: 40px;
}

#title {
  font-size: 32px;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

p {
  color: #fff;
}

.p-top {
}

.p-bot {
}

.btn:not(:disabled):not(.disabled) {
  border: 3px solid #fff;
  border-radius: 30px;
}

.reserve-button {
  color: #ffffff;
  background: rgba(0,98,204,0);
}

.btn.btn-link.btn-block.text-white.arrow-button {
  border: none;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
}

#social-icons {
  font-size: 32px;
  display: inline-block;
  color: #757980;
  margin: 0 10px;
  width: 60px;
  height: 60px;
  border: 1px solid #c8ced7;
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
}

.col {
  padding: 10px 0;
}

img {
  height: 400;
  width: 100;
}

